{% extends 'blog/base.html' %}
{% block title %}{{ post.title }} - Blog{% endblock %}
{% block content %}
<h2><i class="bi bi-bookmark-heart-fill"></i> {{ post.title }}</h2>
<p class="text-muted">By {{ post.author.username }} on {{ post.created_at|date:"F j, Y, g:i a" }}</p>

{% if post.updated_at != post.created_at %}
    <p class="text-muted">Last updated on {{ post.updated_at|date:"F j, Y, g:i a" }}</p>
{% endif %}

<p class="text-muted">Post ID: {{ post.id }}</p>

{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mt-3" style="max-width: 300px; height: auto;">
{% endif %}
<hr>
<p>{{ post.content }}</p>
<a href="{% url 'home' %}" class="btn btn-secondary mt-3">
    <i class="bi bi-arrow-left-circle"></i> Back to Home
</a>

{% if post.author == user %}
    <a href="{% url 'post_edit' post.id %}" class="btn btn-purple mt-3">
        <i class="bi bi-pencil-fill"></i> Edit Post
    </a>
{% endif %}
{% endblock %}
